nav {
  background-color: $nav-bg;
  border-bottom: 1px solid $nav-border-color;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;

  ul {
    display: table;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: center;
    width: 100%;

    li {
      display: table-cell;
      font-size: $nav-font-size;
      vertical-align: middle;
      width: (100%/4);

      &:first-child {
        width: $nav-title-width;
      }

      a {
        color: $nav-color;
        display: block;
        height: $nav-height;
        line-height: $nav-height;
        font-weight: bold;
        text-align: center;
        text-decoration: none;

        &:hover,
        &:active {
          color: $nav-hover-color;
        }

        .fa {
          font-size: $nav-icon-font-size;
          line-height: $nav-height;
        }

        span { display: $nav-font-display; }
      }
    }
  }
}
