.portfolio {
  display: table;
  margin: $portfolio-margin auto;
  width: 100%;

  .eyecatch {
    background-color: $white;
    border: 2px solid $portfolio-border-color;
    border-radius: $portfolio-border-radius;
    display: $portfolio-display;
    text-align: center;
    width: $portfolio-eyecatch-width;
  }

  img {
    border-top-left-radius: $portfolio-border-radius;
    border-top-right-radius: $portfolio-border-radius;
    width: 100%;
  }

  .name {
    color: $portfolio-color;
    display: block;
    height: $portfolio-name-height;
    line-height: $portfolio-name-height;
  }

  .detail {
    @include icon_colors;
    display: $portfolio-display;
    padding-left: $portfolio-detail-padding;
    text-align: $portfolio-detail-text-align;
    vertical-align: middle;
    width: $portfolio-detail-width;

    a {
      @include link_hover;
      @include link_underline;
    }
  }
}
