#portfolios {
  display: table;
  line-height: 2;
  letter-spacing: 2px;

  .portfolios-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
  }

  .portfolio-row {
    margin: 40px auto;
    clear: both;
  }

  .portfolio-box {
    display: table-cell;
    float: left;
    width: 50%;
    padding: 0 100px;
    margin-bottom: 40px;

    .portfolio-text {
      a {
        color: $brown;
        border-bottom: 1px dotted $brown;
      }

      strong {
        font-size: 2rem;
        line-height: 1.5;
      }
    }

    .portfolio-image { width: 100%; }
  }
}
