$light-gray:    #f7f7f7;
$light-green:   #9ebc19;
$gray:          #eeeeee;
$pink:          #e54564;
$white:         #ffffff;

$body-bg: $light-gray;
$body-color: $light-green;
$body-accent-color: $pink;
$body-font-size: 14px;

$footer-bg: $light-green;
$footer-color: $light-gray;
$footer-height: 60px;

$wrapper-margin: 180px;

$section-margin: 100px;

$nav-bg: $light-gray;
$nav-border-color: $gray;
$nav-color: $light-green;
$nav-height: 60px;
$nav-hover-color: $pink;
$nav-icon-font-size: auto;
$nav-font-display: auto;
$nav-font-size: 16px;
$nav-title-width: auto;

$top-logo-bg: $white;
$top-logo-width: 50%;
$top-introduction-padidng: 40px;
$top-social-display: inline-block;
$top-social-font-size: $body-font-size * 1.5;
$top-social-width: 10%;
$top-text-align: start;

$history-font-size: $body-font-size * 0.8;
$history-height: 60px;
$history-left-width: 20%;
$history-padding-left: 20px;
$history-skill-font-size: $body-font-size * 3;

$portfolio-border-color: $gray;
$portfolio-border-radius: 10px;
$portfolio-color: $light-green;
$portfolio-detail-width: 70%;
$portfolio-detail-padding: 60px;
$portfolio-detail-text-align: start;
$portfolio-display: table-cell;
$portfolio-eyecatch-width: 30%;
$portfolio-margin: 30px;
$portfolio-name-height: 30px;

$awards-left-width: 20%;
$awards-right-width: auto;
$awards-works-margin: 40px;
$awards-p-padding: 0 auto;
