$light-gray:    #f7f7f7;
$light-green:   #9ebc19;
$gray:          #eeeeee;
$pink:          #e54564;
$white:         #ffffff;

$body-bg: $light-gray;
$body-color: $light-green;
$body-accent-color: $pink;
$body-font-size: 14px;

$footer-bg: $light-green;
$footer-color: $light-gray;
$footer-height: 60px;

$wrapper-margin: 20px;

$section-margin: 100px;

$nav-bg: $light-gray;
$nav-border-color: $gray;
$nav-color: $light-green;
$nav-height: 60px;
$nav-hover-color: $pink;
$nav-icon-font-size: 24px;
$nav-font-display: none;
$nav-font-size: 16px;
$nav-title-width: 45%;

$top-logo-bg: $white;
$top-logo-width: 100%;
$top-introduction-padidng: 0;
$top-social-display: inline-block;
$top-social-font-size: $body-font-size * 1.5;
$top-social-width: 20%;
$top-text-align: center;

$history-height: 34px;
$history-left-width: 25%;
$history-padding-left: 6px;
$history-skill-font-size: $body-font-size * 2;

$portfolio-border-color: $gray;
$portfolio-border-radius: 10px;
$portfolio-color: $light-green;
$portfolio-detail-width: 100%;
$portfolio-detail-padding: 0;
$portfolio-detail-text-align: center;
$portfolio-display: block;
$portfolio-eyecatch-width: 100%;
$portfolio-margin: 30px;
$portfolio-name-height: 30px;

$awards-left-width: 20%;
$awards-right-width: 90%;
$awards-works-margin: 40px;
$awards-p-padding: 0 auto;
