$base-color: #9ebc19;
$accent-color: #e54564;
$bg-color: #f7f7f7;

html,
body {
    background-color:$bg-color;
    color: $base-color;
    font-family:'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic ProN', 'ヒラギノ丸ゴ ProN W3', Meiryo, メイリオ, sans-serif;
    padding-top: 70px;
}

.container {
    h1 {
        padding-top: 80px;
        padding-bottom: 20px;
    }
}

dd {
    p {
        margin-bottom: 0;
    }
}

.works {
    line-height: 60px;
}

.month {
    padding-right: 60px;
    background-image: url(../img/historybar-circle.svg);
    background-repeat: no-repeat;
    background-position:right top;
    height: 60px;
    line-height: 60px;
}

/*
 * .history-event {
 *     line-height: 60px;
 * }
 * 
 * .date {
 *     padding-right: 60px;
 *     background-image: url(../img/historybar-circle.svg);
 *     background-repeat: no-repeat;
 *     background-position:right top;
 *     height: 60px;
 *     line-height: 60px;
 * }
 */

.languages {
    line-height: 60px;
}

.history-line {
    padding-right: 60px;
    background-image: url(../img/historybar-line.svg);
    background-repeat: repeat-y;
    background-position: right top;
    height: 60px;
    line-height: 60px;
}

.dl-history {
    /* @extend .dl-horizontal; */
    .history-date {
        background-image: url(../img/historybar-line.svg);
        background-position: right center;
        padding-right: 60px;
        background-repeat: no-repeat;
        .date {
            display: block;
            background-image: url(../img/historybar-circle.svg);
            background-position: right top;
            background-repeat: repeat-y;
        }
    }
}

.history-event {
    line-height: 60px;
}

.box {
    -webkit-background-size: contain;
    background-size: contain;
    box-sizing: border-box;
    margin: 0px 1% 16px;
    line-height: 24px;
    .box-inner {
        color: $base-color;
        text-decoration: none;
        box-sizing: border-box;
        border-radius: 12px;
        -webkit-box-shadow: rgb(153, 153, 153) 0px 0px 4px;
        box-shadow: rgb(153, 153, 153) 0px 0px 4px;
        background-color: rgb(255, 255, 255);
        display: block;
        width: 100%;
        height: 100%;
        &:hover {
            -webkit-box-shadow: lighten($base-color, 20%) 0px 0px 10px;
            box-shadow: lighten($base-color, 20%) 0px 0px 10px;
        }
    }
    .img-box-header {
        display: block;
        border-radius: 4px 4px 0px 0px;
        width: 100%;
    }
    .products-name {
        text-align: center;
        margin: 16px 0;
    }
}

.navbar-default .navbar-nav>li>a {
    color: $base-color;
    &:hover,
    &:active {
        color: $accent-color;
    }
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
    li {
        display: table-cell;
        float: none;
        font-size: 16px;
        a {
            font-weight: bold;
            text-align: center;
            // border-left: 1px solid lighten($brand-color, 20%);
            // border-right: 1px solid lighten($brand-color, 20%);
        }
    }
}
