.portfolio {
  width: calc(50% - var(--space-large) / 2);
  margin-right: var(--space-large);
  margin-bottom: var(--space-medium);
}

.a:link,
.a:visited,
.a:hover,
.a:active {
  display: inline-block;
  width: 100%;
  border: 0;
}

.portfolio:nth-child(even) {
  margin-right: 0;
}

.portfolio:nth-last-child(2),
.portfolio:last-child {
  margin-bottom: 0;
}

.description {
  margin: var(--space-small) 0;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  letter-spacing: var(--paragraph-letter-spacing);
  margin-bottom: var(--space-small);
}

.year {
  margin: var(--space-small);
  padding: calc(var(--space-small) / 2) var(--space-small);
  border-radius: var(--space-small);
  background-color: var(--gray);
  font-size: 1rem;
}

.p {
  letter-spacing: var(--paragraph-letter-spacing);
}

@media (max-width: 767px) {
  .portfolio {
    width: 100%;
    margin-bottom: calc(var(--space-small) * 3);
    margin-right: 0;
  }

  .portfolio:nth-last-child(2) {
    margin-bottom: calc(var(--space-small) * 3);
  }
}
