.section {
  padding: var(--space-large) calc(var(--space-large) * 2.5);
}

.section:nth-child(even) {
  background-color: var(--body-color);
  color: var(--brown);
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .section {
    padding: var(--space-medium) calc(var(--space-small) * 1.5);
  }
}
