.section {
  padding: var(--space-large) calc(var(--space-large) * 2.5);
}

.section:nth-child(even) {
  background-color: var(--body-color);
  color: var(--brown);
}

.hidden {
  display: none;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.a:link,
.a:hover,
.a:active,
.a:visited {
  border: 0;
}

@media (max-width: 767px) {
  .section {
    padding: var(--space-medium) calc(var(--space-small) * 1.5);
  }
}
