.skills {
  display: flex;
}

.column {
  margin-right: var(--space-large);
}

.column:last-child {
  margin-right: 0;
}

.ratio {
  max-width: 300px;
  max-height: 300px;
}

@media (max-width: 767px) {
  .skills {
    flex-flow: column;
  }

  .column {
    margin-right: 0;
  }

  .ratio {
    width: 200px;
    height: 200px;
    margin: 0 auto calc(var(--space-small) * 2);
  }
}
