.awards {
  display: table;
  width: 100%;

  dt {
    clear: both;
    display: table-cell;
    float: left;
    text-align: right;
    width: $awards-left-width;
  }

  .works {
    display: table-cell;
    float: left;
    width: $awards-right-width;
    margin-left: $awards-works-margin;

    p { margin: $awards-p-padding; }

    a {
      @include link_hover;
      @include link_underline;
    }
  }
}
