#heading {
  .heading-wrapper {
    width: 300px;
    margin: 0 auto;
    padding: 100px 0;
  }

  .heading {
    letter-spacing: 2px;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 60px;

    .dot { color: $brown; }
  }

  .heading-logo {
    display: block;
    width: 204px;
    height: 204px;
    border-radius: 50%;
    margin: 0 auto 30px;
  }

  .sns-list {
    list-style: none;
    line-height: 2;
    letter-spacing: 2px;
  }
}
