#interviews {
  .interviews-wrapper {
    display: table;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
  }

  .interview {
    letter-spacing: 2px;
    line-height: 2;
  }

  a {
    color: $brown;
    border-bottom: 1px dotted $brown;
  }
}
